.root {
	display: inline-block;
	margin-top: var(--nav-height);
	height: var(--content-height);
	width: 70px;
	background-color: #242424;
}

.ul {
	margin: 0;
	padding: 0;
}

.li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: var(--nav-height);
	list-style: none;
	color: white;
}

.li:hover {
	color: rgb(170, 162, 162);
}

.li[data-icon='twitter']:hover {
	color: #1da1f2;
}

.li[data-icon='linkedin']:hover {
	color: #0a97b2;
}

.li[data-icon='meetup']:hover {
	color: #f64060;
}

@media (max-width: 600px) {
	.root {
		width: 100%;
		height: var(--nav-height);
		margin-top: 0;
	}
	.ul {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}
